/* Wrapper for centering the Questions component and adding the SVG background */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI5NjAiIHZpZXdCb3g9IjAgMCAxMjgwIDk2MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMGgxMjgwVjkwMEgwVjBaIiBmaWxsPSIjMEE5RjYzIi8+Cjwvc3ZnPgo=') no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Container for the Next button */
  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  /* Styling for the Next button */
  .page_btn {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    width: 60px; /* Adjusted to give a larger clickable area */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgb(244, 243, 243);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .page_btn:hover {
    background-color: #ddd;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 
                0 8px 24px rgba(0, 0, 0, 0.3);
  }
  
  .page_btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.2);
  }
  
  .active {
    background-color: var(--blue);
    color: rgb(14, 12, 12);
  }
  